
<!--<div *ngIf="hero">
  <p>User profile - detail of {{hero.id}}</p>
  <h2>{{hero.name}} details</h2>
  <div><label>id: </label>{{hero.id}}</div>
     <div>
       <label>name: </label>
       <input [(ngModel)]="hero.name" placeholder="name"/>
     </div>
   
</div>

<div *ngFor ="let hero of heroes">
  <p>{{ hero.id}} + {{hero.name}}</p>
</div>-->

<div>
      Showing product details for product: {{name}}     
      More Detail Information
</div>
<div *ngFor="let h of heroes"> 
  <p *ngIf="h.name === name">  {{h.id}} {{h.name}}</p>
</div>
